name: Upload Documentation

on: [push]
#  push:
#    branches:
#      - testPR


jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Converting Markdown to Confluence
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Conversion step
        env:
          CONFLUENCE_URL: 'https://at-bachelor.atlassian.net'
          CONFLUENCE_SPACE_KEY: '~955037829'
          AUTH_USERNAME: ${{ secrets.AUTH_USERNAME }}
          AUTH_API_TOKEN: ${{ secrets.AUTH_API_TOKEN }}
        uses: ./ # Uses an action in the root directory
        id: Convert
        with:
          fileslocation: 'documentation'
          should_upload: true
