name: Run PyTest

# on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.6
      uses: actions/setup-python@v3
      with:
        python-version: "3.6"
    - name: Install dependencies
      run: |
        apt-get update && apt-get install -y python3-venv
        python3 -m venv venv
        . venv/bin/activate
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .
    - name: Test with pytest
      env:
        CONFLUENCE_URL: 'https://at-bachelor.atlassian.net/wiki'
        CONFLUENCE_SPACE_KEY: '~955037829'
        AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        INPUT_FILESLOCATION: './documentation'
      run: |
        . venv/bin/activate
        pip install -e .
        python3 -m pytest -v